company-metadata/src/main/resources/employee-service-types.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://metadata.company.epam.com/" name="EmployeeWebService" targetNamespace="http://metadata.company.epam.com/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://metadata.company.epam.com/"
                   elementFormDefault="unqualified" targetNamespace="http://metadata.company.epam.com/" version="1.0">
            <xs:include schemaLocation="model-types.xsd"/>
            <xs:element name="EmployeeDTO" type="tns:EmployeeDTO"/>
            <xs:element name="createEmployeeRequest" type="tns:createEmployeeRequest"/>
            <xs:element name="createEmployeeResponse" type="tns:createEmployeeResponse"/>
            <xs:complexType name="createEmployeeRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employeeDTO" type="tns:EmployeeDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="createEmployeeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employeeId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getEmployeeByIdRequest" type="tns:getEmployeeByIdRequest"/>
            <xs:element name="getEmployeeByIdResponse" type="tns:getEmployeeByIdResponse"/>
            <xs:complexType name="getEmployeeByIdRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employeeId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getEmployeeByIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employeeDTO" type="tns:EmployeeDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getAllEmployeesRequest" type="tns:getAllEmployeesRequest"/>
            <xs:element name="getAllEmployeesResponse" type="tns:getAllEmployeesResponse"/>
            <xs:complexType name="getAllEmployeesRequest">
            </xs:complexType>
            <xs:complexType name="getAllEmployeesResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employeeDTOList" maxOccurs="unbounded" type="tns:EmployeeDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="updateEmployeeRequest" type="tns:updateEmployeeRequest"/>
            <xs:element name="updateEmployeeResponse" type="tns:updateEmployeeResponse"/>
            <xs:complexType name="updateEmployeeRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="employeeDTO" type="tns:EmployeeDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateEmployeeResponse">
            </xs:complexType>
            <xs:element name="updateEmployeesInBatchRequest" type="tns:updateEmployeesInBatchRequest"/>
            <xs:element name="updateEmployeesInBatchResponse" type="tns:updateEmployeesInBatchResponse"/>
            <xs:complexType name="updateEmployeesInBatchRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="employeeDTOs" type="tns:EmployeeDTO"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="updateEmployeesInBatchResponse">
            </xs:complexType>
            <xs:element name="getEmployeesByDepartmentIdRequest" type="tns:getEmployeesByDepartmentIdRequest"/>
            <xs:element name="getEmployeesByDepartmentIdResponse" type="tns:getEmployeesByDepartmentIdResponse"/>
            <xs:complexType name="getEmployeesByDepartmentIdRequest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="departmentId" type="xs:long"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="getEmployeesByDepartmentIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="employeeDTOList" type="tns:EmployeeDTO"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="createEmployeeRequest">
        <wsdl:part element="ns1:createEmployeeRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createEmployeeResponse">
        <wsdl:part element="ns1:createEmployeeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getEmployeeByIdRequest">
        <wsdl:part element="ns1:getEmployeeByIdRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getEmployeeByIdResponse">
        <wsdl:part element="ns1:getEmployeeByIdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAllEmployeesRequest">
        <wsdl:part element="ns1:getAllEmployeesRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getAllEmployeesResponse">
        <wsdl:part element="ns1:getAllEmployeesResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateEmployeeRequest">
        <wsdl:part element="ns1:updateEmployeeRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateEmployeeResponse">
        <wsdl:part element="ns1:updateEmployeeResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateEmployeesInBatchRequest">
        <wsdl:part element="ns1:updateEmployeesInBatchRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="updateEmployeesInBatchResponse">
        <wsdl:part element="ns1:updateEmployeesInBatchResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getEmployeesByDepartmentIdRequest">
        <wsdl:part element="ns1:getEmployeesByDepartmentIdRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getEmployeesByDepartmentIdResponse">
        <wsdl:part element="ns1:getEmployeesByDepartmentIdResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="EmployeeWebService">
        <wsdl:operation name="createEmployee">
            <wsdl:input message="ns1:createEmployeeRequest" name="createEmployeeRequest"/>
            <wsdl:output message="ns1:createEmployeeResponse" name="createEmployeeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEmployeeById">
            <wsdl:input message="ns1:getEmployeeByIdRequest" name="getEmployeeByIdRequest"/>
            <wsdl:output message="ns1:getEmployeeByIdResponse" name="getEmployeeByIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllEmployees">
            <wsdl:input message="ns1:getAllEmployeesRequest" name="getAllEmployeesRequest"/>
            <wsdl:output message="ns1:getAllEmployeesResponse" name="getAllEmployeesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateEmployee">
            <wsdl:input message="ns1:updateEmployeeRequest" name="updateEmployeeRequest"/>
            <wsdl:output message="ns1:updateEmployeeResponse" name="updateEmployeeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="updateEmployeesInBatch">
            <wsdl:input message="ns1:updateEmployeesInBatchRequest" name="updateEmployeesInBatchRequest"/>
            <wsdl:output message="ns1:updateEmployeesInBatchResponse" name="updateEmployeesInBatchResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getEmployeesByDepartmentId">
            <wsdl:input message="ns1:getEmployeesByDepartmentIdRequest" name="getEmployeesByDepartmentIdRequest"/>
            <wsdl:output message="ns1:getEmployeesByDepartmentIdResponse" name="getEmployeesByDepartmentIdResponse"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>